/* styles.css */

.dv-recent-files {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dv-recent-name {
    flex: 1;
    margin-right: 10px; /* Adjust the margin as needed */
}

.dv-recent-tags {
    flex: 0;
    display: flex;
    gap: var(--size-4-1); /* Space between tags */
    align-items: center;
    text-align: right; /* Align text to the right */
}

